@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
@tailwind utilities;

:root {
  --primary-color: #52BDAA;
  --primary-color-light: #54BD95;
  --star-primary-color: #FFC728;
  --star-primary-accent: #BBBBBB;
  --text-black: #191A15;
  --text-white: #F8F8FA;
  --text-gray: #A6A6A6;
  --background: #0a0a0a;
  --foreground: #ededed;
  --default-font-size: 18px;
  --border-black: #191A15;
}

/* @theme inline {
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1 {
  @apply text-[7.5vw] md:text-[5vw] lg:text-[4vw] 2xl:text-[3vw] font-semibold text-center lg:text-left;
}

h2 {
  @apply text-[6vw] md:text-[4vw] lg:text-[3vw] xl:text-[2vw] 2xl:text-[2.2vw] font-medium ;
}

h3 {
  @apply text-[6vw] md:text-[4vw] lg:text-[3vw] xl:text-[2vw] 2xl:text-[2.2vw] text-(--text-black) font-semibold text-center lg:text-left;
}

h4 {
  @apply text-[5vw] md:text-[3.3vw] lg:text-[2.5vw] xl:text-[2vw] 2xl:text-[1.3vw] text-(--text-black) font-semibold ;
}

p {
  @apply text-[15px] sm:text-[16px] font-medium leading-7.5 text-(--text-gray);
}

.container-space {
  @apply py-[4vh] sm:py-[8vh];
}

.container {
  @apply md:max-w-[1250px] w-[95%] sm:w-[90%] mx-auto; 
}

.mobile-paragraph{
  @apply text-center md:text-left;
}

.nav-glass-card {
  background: rgba(255, 255, 255, 0.62);
  backdrop-filter: blur(43px);
  -webkit-backdrop-filter: blur(43px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 58px 29px rgba(255, 255, 255, 2.9);
  overflow: hidden;
}

.nav-glass-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(90deg,
      transparent,
      rgba(255, 255, 255, 0.8),
      transparent);
}

.nav-glass-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 0.8),
      transparent,
      rgba(255, 255, 255, 0.3));
}

.common-cta-btn {
  @apply text-(--text-white) bg-(--primary-color-light) cursor-pointer border-2 border-transparent hover:border-2 hover:border-(--primary-color-light) hover:bg-transparent hover:text-(--primary-color-light) transition-all;
}

.play-btn {
  @apply cursor-pointer flex flex-row items-center gap-3 text-(--default-font-size) border-2 border-(--border-black) rounded-full px-1.5 py-0.5 bg-transparent!;
}

.open-modal {
  transform: translateY(0%);
  opacity: 1;
  visibility: visible;
  transition: all 500ms ease-in-out;
}

.close-modal {
  transform: translateY(-20%);
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease-in-out;
  z-index: -9;
}

@media (min-width: 2001px) {
  .hero{
    @apply h-[70vh]
  }
}